{# Replace dummy account profiles below with profiles for this project

<script>
	// Prevents FOUT for fonts.com fonts. See http://www.fonts.com/support/faq/fout
	MTIConfig = {};
	MTIConfig.EnableCustomFOUTHandler = true // true = prevent FOUT
</script>

#}

<!--[if gt IE 7]>{# These break IE 7 #}
<script src="//use.typekit.net/REPLACE-ME.js"></script>
<script>try{Typekit.load();}catch(e){}</script>
<![endif]-->

<!--[if gt IE 8]>{# This breaks IE 8. Check other versions! #}
<script src="//fast.fonts.net/jsapi/REPLACE-ME.js"></script>
<![endif]-->

<!--[if !IE]> -->
{#
<script src="//use.typekit.net/REPLACE-ME.js"></script>
<script>try{Typekit.load();}catch(e){}</script>
<script src="//fast.fonts.net/jsapi/REPLACE-ME.js"></script>
#}
<!-- <![endif]-->