// -------------------------------------------------------------------------
// Miscellaneous Variables


// Border radiuses

$radius-xsmall: 2px;
$radius-small:  4px;
$radius-medium: 6px;
$radius-large:  8px;
$radius-xlarge: 16px;

