// -------------------------------------------------------------------------
// miscellaneous variables

// -------------------------------------------------------------------------
// logo sizing & nav positioning

$logo-mobile-ratio: 917 / 137; // Mobile logo image proportions
$logo-desktop-ratio: 1253 / 685; // Desktop logo image proportions

$logo-width-small: 14em;
$logo-height-small: $logo-width-small / $logo-mobile-ratio;

$logo-width-smallplus: 18em;
$logo-height-smallplus: $logo-width-smallplus / $logo-mobile-ratio;

$logo-width-medium: 11em;
$logo-height-medium: $logo-width-medium / $logo-desktop-ratio;

$logo-width-large: grid-width(4) - ($gw-gutter * 2);
$logo-height-large: $logo-width-large / $logo-desktop-ratio;

// -------------------------------------------------------------------------
// Border radiuses

$radius-small: 4px;
$radius-medium: 6px;
$radius-large: 8px;
$radius-xlarge: 1.8em;

// -------------------------------------------------------------------------
// Quote Mark sizes

$quote-ratio: 320 / 253;

$quote-width-small: 3em;
$quote-height-small: $quote-width-small / $quote-ratio;

$quote-width-medium: 6em;
$quote-height-medium: $quote-width-medium / $quote-ratio;

$quote-width-large: 8em;
$quote-height-large: $quote-width-large / $quote-ratio;
