// --------------------------------------------------------------------------
// =clients

.organizations {
	margin: 1.5em 0;
	padding: 0;

	@include media($medium) {
		@include span-columns(8);
	}

	li {
		list-style: none;

		@include font-sans-alt(900);
		text-transform: uppercase;
		line-height: 1.2;

		@include media($medium) {
			@include span-columns(4 of 8);
			@include omega(2n);
		}
	}
}