// --------------------------------------------------------------------------
// =global styles

.more {
	font-style: italic;
}

.go {
	&:after {
		@extend %icon-right;
		padding-left: .5rem;
	}
}

.ext {
	&:after {
		@extend %icon-external;
		padding-left: .5rem;
	}
}

// --------------------------------------------------------------------------
// =backgrounds

/*
%bg-color {
	background-color: $clr-color;
	color: $clr-off-white;

	a {
		&:hover,
		&:visited:hover {
			color: $clr-white;
		}
	}
}

.bg-color {
	@extend %bg-color;
}
*/
