// --------------------------------------------------------------------------
// =process

.leadinProcess {
	text-align: center;
	
	.steps {
		@include media($medium) {
			@include span-columns(8);
		}
	}

	.step {
		@include media($medium) {
			@include span-columns(2 of 8);
		}

		.meta {
			@include media($medium) {
				width: auto;
			}
		}
	}

	.step-icon {
		@include media($medium) {
			margin: 0 0 1.5rem;
			padding: 0 1rem;
		}

		@include media($large) {
			margin: 0 0 2rem;
			padding: 0 2rem;
		}
	}
}

#unique-process {
	.step {
		@include media($medium) {
			@include span-columns(8);
		}

		@include media($large) {
			@include span-columns(12);
		}
	}

	.meta {
		@include media($medium) {
			@include span-columns(3 of 8);
		}

		@include media($large) {
			@include span-columns(3 of 12);
		}
	}

	.step-content {
		@include media($medium) {
			@include span-columns(5 of 8);

			h3 {
				text-align: left;
			}
		}

		@include media($large) {
			@include span-columns(9 of 12);

			h3 {
				font-size: rem($heading-4-medium);
			}

			p {
				font-size: rem($body-medium);
			}
		}
	}
}

.steps {
	margin: 2rem 0;
	padding: 0;
}

.step {
	margin: 0 0 2rem;
	list-style: none;
	font-size: rem($body-small);
}

.meta {
	width: 14rem;
	margin: 0 auto;

	text-align: center;

	@include media($smallPlus) {
		width: 18rem;
	}

	h3 {
		font-size: rem($fineprint-small);
		line-height: 1.2;
	}
}

.step-content {
	h3 {
		margin-top: 0;

		font-size: rem($heading-4-small);
		line-height: 1.2;
		text-align: center;
	}
}

.step-icon {
	margin: 0 auto .5rem;
	padding: 0 2rem;
}