body {
	background-color: $clr-lightest-grey;
}

#site {
	position: relative;
	background-color: $clr-white;
}

#page {
	padding-top: 3.625rem; //masthead height

	@include media($medium) {
		padding-top: 6.875rem;
	}

	@include media($large) {
		padding-top: 5.625rem;
	}
}
