// --------------------------------------------------------------------------
// =forms

form {
	
	ul,
	ol {
		margin: 0;
		padding: 0;
	}
	li {
		list-style: none;
		margin: 0 0 1em;
	}
}

label {
	display: block;
	margin: 0 0 .5em;

	font-weight: bold;
	line-height: 1;

	.help {
		margin: 0 0 0 .5em;
		font-size: inherit;
		font-weight: normal;
	}
}

.help {
	font-size: em($fineprint-small);
}

input[type='text'],
input[type='email'],
textarea,
select {
	color: $dark-grey;
	background-color: $white;
	border: 1px solid $white;

	@include appearance(none);
}

input[type='text'],
input[type='email'],
textarea {
	padding: .5em 1%;
	width: 97%;

	max-width: 30em;
}

input.error,
textarea.error,
select.error {
	color: $color-warning;
	border: 1px solid $color-warning;
	background-color: pink;
}

span.error {
	display: block;
	margin: .5em 0 0;
	font-size: em($body-small);
	color: $color-warning;
}

select {
	padding: .5em;
	width: 99%;
	max-width: 30em;

	@include border-radius(0);
}

.note {
	font-size: em($body-small);
}

%button {
	margin: 1em 0;
	padding: .5em 1em;

	text-align: center;

	line-height: 1;

	@extend %font-heading;
	text-transform: uppercase;

	border: none;
	
	color: $white;
	background-color: $orange;

	@include border-radius($border-radius-small);

	cursor: pointer;
	overflow: visible;

	&:link,
	&:visited {
		color: $white;
		background-color: $orange;
	}
	&:hover,
	&:visited:hover {
		color: $orange;
		background-color: $white;
	}

	&::-moz-focus-inner {
		border: none; 
	}
}

button,
.button {
	@extend %button;
}


// --------------------------------------------------------------------------
// medium styles

@media screen and (min-width: $site-width-medium) {

	
}
