// --------------------------------------------------------------------------
// headings

h1,
h2,
h3,
h4,
h5,
h6 {
	@extend %font-heading;
	line-height: 1.1;
}

h1 {
	font-size: em($headline-small);
	line-height: .930555em;
	margin: .222222em 0;

	//color: $color;
}

h2 {
	font-size: em($heading-2-small);
	line-height: 1.058823em;
	margin: 0 0 1.588235em;
}

h3 {
	font-size: em($heading-3-small);
	line-height: 1.115384em;
	margin: 0 0 .346153em;
}

h4 {
	font-size: em($heading-4-small);
	line-height: 1.125;
	margin: 0 0 .375em;
}

h5 {
	font-size: em($heading-5-small);
	line-height: 1.208333;
	margin: 0;
}


// --------------------------------------------------------------------------
// medium styles

@media screen and (min-width: $site-width-medium) {
	
	h1 {
		font-size: em($headline-large);
		line-height: .9;
	}

	h2 {
		font-size: em($heading-2-large);
		line-height: 1;
		margin: 0 0 1.317073em;
	}

	h3 {
		font-size: em($heading-3-large);
		line-height: 1.125;
		margin: 1.125em 0 .5625em;
	}

	h4 {
		font-size: em($heading-4-large);
		line-height: 1.142857;
		margin: 0 0 .321428em;
	}

	h5 {
		font-size: em($heading-5-large);
		line-height: 1.166667em;
	}
}
