<form method="post" action="" accept-charset="UTF-8">

	<h2>Send an email</h2>

	<input type="hidden" name="action" value="contactForm/sendMessage">
	<input type="hidden" name="successRedirectUrl" value="contact/thanks">

	<ol>
		<li>
			<label for="fromName">Name</label>
			<input type="text" name="fromName" required data-validation-required="Please provide your name">
		</li>

		<li>
			<label for="fromEmail">Email Address</label>
			<input type="email" name="fromEmail" required data-validation-required="Please provide your email address" data-validation-email="This is not a valid email address">
		</li>

		<li>
			<label for="subject">Subject</label>
			<select name="subject" id="subject" required data-validation-required="Please select a subject">
				<option value="">Please select&hellip;</option>
				{% for item in entry.subjectOptions %}
				<option{% for fieldGroup in item.fieldGroup %} data-field-dependency="parent" data-field-group="{{ fieldGroup.slug }}"{% endfor %} value="{{ item.option | raw }}">{{ item.option | raw }}</option>
				{% endfor %}
			</select>
		</li>
		
		<li>
			<label for="message">Message</label>
			<textarea rows="10" cols="40" id="message" name="message[body]" required data-validation-required="Please compose a message"></textarea>
		</li>

		{# NOTE: this is coordinated with ContactForm plugin 'honeypot' field #}
		<li style="display:none">
			<label for="yourcomments">Please leave this field blank</label>
			<input type="text" name="yourcomments">
		</li>

	</ol>

	<button class="waves-effect waves-light" value="submit" name="submit" type="submit">Send</button>

</form>
