<nav class="prev-next">
	<span class="prev">{% if paginate.prevUrl %}<a href="{{ paginate.prevUrl }}">Newer</a>{% endif %}</span>
	<span class="next">{% if paginate.nextUrl %}<a href="{{ paginate.nextUrl }}">Older</a>{% endif %}</span>
</nav>