<form action="{{ globalVars.campaignMonitorUrl }}" method="post" class="subscribe">
	<p><input name="cm-{{ globalVars.campaignMonitorFieldId }}" id="{{ globalVars.campaignMonitorFieldId }}" type="email" class="email" placeholder="Your email address"> <button value="submit" name="submit" type="submit">Subscribe</button></p>
</form>
