// --------------------------------------------------------------------------
// links

a {
	text-decoration: none;
	@include transition(all 0.2s ease-in-out);

	&:link {
		color: $color-link;
		//text-decoration: underline;

		h1,
		h2,
		h3,
		h4,
		h5,
		h6 {
			//color: $color-link;
		}
	}

	&:visited {
		color: $color-link;

		h1,
		h2,
		h3,
		h4,
		h5,
		h6 {
			//color: $color-link;
		}
	}

	&:hover,
	&:visited:hover {
		color: $color-link-hover;

		h1,
		h2,
		h3,
		h4,
		h5,
		h6 {
			//color: $color-link-hover;
		}
	}
}

a img {
	border: none;
	text-decoration: none;
}
