// ---------------------------------------------------------------------------
// colors

$white: #fff;
$off-white: #efefef;

$dark-grey: #444;
$medium-dark-grey: #58595b;
$medium-grey: #777;
$light-grey: #aaa;
$lighter-grey: #ccc;

$blue: #08c;

$orange: #fc531e;
$light-orange: adjust-lightness($orange, 20%);
$dark-orange: adjust-lightness($orange, -20%);

$brown: #773500;

$green: #6ed6ba;



$color-text: $medium-dark-grey;

$color-link: $orange;
$color-link-hover: $dark-orange;

$color-warning: #900;