{% set siteUrlNoSlash = 'http://<%= craftDomainName %>.<%= craftProductionTLD %>' %}

<!doctype html>

<!--[if lt IE 7]> <html class="lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 9]><!--> <html lang="en"> <!--<![endif]-->

<head>
	<meta charset="utf-8">
	<title>{% if block('pageTitle') %}{{ block('pageTitle') }}{% if craft.request.segment(1) %} {{ meta.titleBullet }} {{ siteName }}{% endif %}{% endif %}</title>
	{% if block('pageDescription') %}<meta name="description" content="{{ block('pageDescription') }}">{% endif %}
	<meta name="viewport" content="width=device-width,initial-scale=1.0">

	{# Social Meta Tags #}
	<meta property="og:title" content="{% if block('contentHeading') %}{{ block('contentHeading') }}{% else %}{{ siteName }}{% endif %}">
	<meta property="og:description" content="{{ block('pageDescription') }}">
	<meta property="og:type" content="article">
	<meta property="og:url" content="{{ craft.request.url }}">
	<meta property="og:image" content="{% if block('socialImage') %}{{ siteUrlNoSlash }}{{ block('socialImage') }}{% else %}{{ siteUrl }}ui/img/logo-social.png{% endif %}">
	<meta property="og:site_name" content="{{ siteName }}">
	<meta name="twitter:card" content="summary">
	<meta name="twitter:url" content="{{ craft.request.url }}">
	<meta name="twitter:title" content="{% if block('contentHeading') %}{{ block('contentHeading') }}{% else %}{{ siteName }}{% endif %}">
	<meta name="twitter:description" content="{{ block('pageDescription') }}">
	<meta name="twitter:image" content="{% if block('socialImage') %}{{ siteUrlNoSlash }}{{ block('socialImage') }}{% else %}{{ siteUrl }}ui/img/logo-social.png{% endif %}">
	{# End Social Meta Tags #}

	{% if craft.request.firstSegment == 'contact' %}
	<link href="//api.tiles.mapbox.com/mapbox.js/v1.5.2/mapbox.css" rel="stylesheet" />
	{% endif %}
	
	<link rel="stylesheet" href="/ui/css/style.css">
	<!--[if lte IE 9]>
	<link rel="stylesheet" href="/ui/css/ie.css">
	<![endif]-->
	<script>document.cookie='resolution='+Math.max(screen.width,screen.height)+'; path=/';</script>
	<script src="/ui/js/vendor/modernizr.custom.js"></script>
	<script src="/ui/js/vendor/respond.js"></script>
	{% include '_includes/_webfont_scripts' %}
	<script data-main="/ui/js/build/config" src="/ui/js/vendor/require.js"></script>
</head>

<body>

<div id="site"{% if not craft.request.segment(1) %} class="homepage"{% endif %}>

	<header id="header">
		<div class="inner">
			<h1 class="logo"><a href="/" title="Home"><img src="/ui/img/logo.png" alt="{{ siteName }}"></a></h1>
			<p class="jump"><a href="#menu"><span class="label">Menu</span></a></p>
		</div>
	</header>

	<section id="content" class="content">
		{% block content %}
		{% endblock %}
	</section>

	{% include "_navs/_main" %}

	<footer id="footer" class="footer">
		<div class="inner">
			Footer
		</div>
	</footer>

</div>{# /#site #}

{% include '_includes/_google_analytics' with { accountId: 'UA-XXXXXXXX-X', domainName: '<%= craftDomainName %>.<%= craftProductionTLD %>' } %}

</body>
</html>
